* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    position: sticky;
    top: 0
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px
}

.nav-links a {
    text-decoration: none;
    color: #333
}

.cart-icon {
    cursor: pointer
}

.hero {
    height: 80vh;
    background: #6f4e37;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px
}

.menu {
    text-align: center;
    padding: 60px
}

.menu-box {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap
}

.card {
    width: 240px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover
}

.card h3 {
    margin: 10px 0
}

.price {
    color: #6f4e37;
    font-weight: 600
}

.card button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background: #6f4e37;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.contact {
    text-align: center;
    padding: 60px;
    background: #f5f5f5
}

.contact form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.contact input,
.contact textarea {
    padding: 10px
}

.contact button {
    background: #6f4e37;
    color: #fff;
    border: none;
    padding: 12px
}

.cart-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    justify-content: center;
    align-items: center
}

.cart-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 320px
}

.cart-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px
}

.pay {
    background: #28a745;
    color: #fff
}

.wa {
    background: #25D366;
    color: #fff
}

.close {
    background: #444;
    color: #fff
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
    z-index: 999
}

.whatsapp-float img {
    width: 30px
}

.hero {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('images/Hero.jpg') center/cover no-repeat;
}